/* Timeline Color Definitions Start */
.timeline-episode,
.timeline-container.episode > .timeline-chunk > .timeline-dash,
.timeline-container.episode > .timeline-chunk > .timeline-marker,
.timeline-container.episode ~ .timeline-card,
.timeline-episodes,
.timeline-container.episodes > .timeline-chunk > .timeline-dash,
.timeline-container.episodes > .timeline-chunk > .timeline-marker,
.timeline-container.episodes ~ .timeline-card {
    background: #30a7d7;
}

.timeline-spinoff-episode,
.timeline-container.spinoff-episode > .timeline-chunk > .timeline-dash,
.timeline-container.spinoff-episode > .timeline-chunk > .timeline-marker,
.timeline-container.spinoff-episode ~ .timeline-card,
.timeline-spinoff-episodes,
.timeline-container.spinoff-episodes > .timeline-chunk > .timeline-dash,
.timeline-container.spinoff-episodes > .timeline-chunk > .timeline-marker,
.timeline-container.spinoff-episodes ~ .timeline-card {
    background: #1b53ba;
}

.timeline-movie,
.timeline-container.movie > .timeline-chunk > .timeline-dash,
.timeline-container.movie > .timeline-chunk > .timeline-marker,
.timeline-container.movie ~ .timeline-card {
    background: #ee6b2f;
}

.timeline-special,
.timeline-container.special > .timeline-chunk > .timeline-dash,
.timeline-container.special > .timeline-chunk > .timeline-marker,
.timeline-container.special ~ .timeline-card {
    background: #e6bc2f;
}

.timeline-short,
.timeline-container.short > .timeline-chunk > .timeline-dash,
.timeline-container.short > .timeline-chunk > .timeline-marker,
.timeline-container.short ~ .timeline-card {
    background: #4dad5b;
}

.is-alternate {
    opacity: 0.66;
}
/* Future Colors: #E3350D #1b53ba*/
/* Timeline Color Definitions End */

/* Base Start */
body {
    background-image: repeating-linear-gradient(135deg, rgb(50 50 50), rgb(50 50 50) 12px, rgb(47 47 47) 12px, rgb(47 47 47) 20px);
}

h1 {
    margin: 24px 0 14px 24px;
    color: white;
}

h2 {
    margin: 24px 0 14px 24px;
    color: white;
}

p {
    margin: 0;
}
/* Base End */

/* Bootstrap Overrides Start */
.dropdown-menu {
    right: 0;
    left: initial;
    background: #323232;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background: #E3350D;
    color: white;
}

.navbar {
    border-bottom: solid 2px #dedede;
    background-color: #323232;
}
/* Bootstrap Overrides End */

.timeline-card {
    color: white;
    border-radius: 0 5px 5px 5px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Main Timeline Start */
.main-timeline {
    background-color: rgb(97 97 97 / 0.2);
}

.timeline-container {
    display: flex;
    float: left;
    width: 100%;
}
.timeline-chunk {
    float: left;

    border-left: solid 2px #323232;
}
.timeline-dash {
    width: 24px;
    height: 2px;
    background: inherit;
    float: left;
}

.timeline-marker {
    float: left;
    position: absolute;
    width: 10px;
    height: 10px;
    background: inherit;
    margin-left: -5.5px;
    text-align: center;
    border-radius: 50%;
    z-index: 500;
    margin-top: -4px;
}
.timeline-card {
    float: left;

    width: 100%;
    display: flex;
    flex-direction: column;
}

.timeline-card-header {
    padding: 10px 15px 5px 15px;
    font-weight: bold;
    border-bottom: solid 2px rgb(50 50 50 / 0.5);
    cursor: pointer;
}
.timeline-card-header:after {
    content: '\f077';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
    color: rgb(0, 0, 0, 0.2);
    transition: transform .25s ease-out;
}
.timeline-card-header.collapsed:after {
    transform: rotate(180deg);
}

.timeline-card-body {
    padding: 10px 15px;
    background: #323232;
}
/* Main Timeline End */

/* Floating Navigation Start */
.floating-navigation-container {
    position: fixed;
    background: #323232;
    border-radius: 5px;
    border: solid 2px #E3350D;
    color: white;
}

.floating-navigation {
    list-style: none;
    margin: 0;
    padding: 0 10px 5px 10px;
}

.floating-navigation-header {
    background: #e3350d;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-bottom: solid 2px rgb(50 50 50 / 0.5);
}

.floating-navigation > li {
    margin: 5px 0;
    cursor: pointer;
    transition: color .35s linear;
    border-top: dashed 1px rgb(255 255 255 / 0.2);
    padding: 3px 0 0 0;
}
.floating-navigation > li:first-child {
    border-top: none;
}

.floating-navigation > li.active {
    color: #E3350D;
}
.floating-navigation > li:hover {
    color: #E3350D;
}
/* Floating Navigation End */